<!DOCTYPE html> 
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="min-h-screen min-w-screen bg-gray-700">
{% include 'nav.html.j2' %}

{% block body %}

{% endblock %}
</main>
</body>