{% extends "base.html.j2" %}

{% block body %}
    <div class="mt-4"> 
        <p class="text-lg font-bold mx-2 mt-7">Contas Bancárias</p>
        <div class="grid grid-cols-3 gap-3">
            <div class="bg-white rounded-xl m-2 shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                <div class="p-6">
                    <div class="text-md mb-3 font-bold flex justify-start items-center gap-2">
                        <i class="fa-regular fa-building text-xl rounded-full flex justify-center items-center w-10 h-10 text-purple-500 bg-purple-100"></i>   
                        Banco Itaú
                    </div>
                    <ul class="space-y-2">
                        <li><p class="text-gray-500 text-sm">Conta Digital</p></li>
                        <li><p class="text-2xl font-bold">R$ 5.842,75</p></li>
                        <li><p class="text-gray-500 text-sm">Ag:1234 . CC:56789-0</p></li>
                    </ul>
                </div>

                <div class="px-6 py-2 rounded-b-xl bg-gray-50 flex justify-between text-sm font-bold">
                    <p class="text-purple-600">Detalhes</p>
                    <p class="text-gray-400">Editar</p>
                </div>
            </div>
            <div class="bg-white rounded-xl m-2 shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                <div class="p-6">
                    <div class="text-md mb-3 font-bold flex justify-start items-center gap-2">
                        <i class="fa-regular fa-building text-xl rounded-full flex justify-center items-center w-10 h-10 text-purple-500 bg-purple-100"></i>   
                        Banco Itaú
                    </div>
                    <ul class="space-y-2">
                        <li><p class="text-gray-500 text-sm">Conta Digital</p></li>
                        <li><p class="text-2xl font-bold">R$ 5.842,75</p></li>
                        <li><p class="text-gray-500 text-sm">Ag:1234 . CC:56789-0</p></li>
                    </ul>
                </div>

                <div class="px-6 py-2 rounded-b-xl bg-gray-50 flex justify-between text-sm font-bold">
                    <p class="text-purple-600">Detalhes</p>
                    <p class="text-gray-400">Editar</p>
                </div>
            </div>
            <div class="bg-white rounded-xl m-2 shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                <div class="p-6">
                    <div class="text-md mb-3 font-bold flex justify-start items-center gap-2">
                        <i class="fa-regular fa-building text-xl rounded-full flex justify-center items-center w-10 h-10 text-purple-500 bg-purple-100"></i>   
                        Banco Itaú
                    </div>
                    <ul class="space-y-2">
                        <li><p class="text-gray-500 text-sm">Conta Digital</p></li>
                        <li><p class="text-2xl font-bold">R$ 5.842,75</p></li>
                        <li><p class="text-gray-500 text-sm">Ag:1234 . CC:56789-0</p></li>
                    </ul>
                </div>

                <div class="px-6 py-2 rounded-b-xl bg-gray-50 flex justify-between text-sm font-bold">
                    <p class="text-purple-600">Detalhes</p>
                    <p class="text-gray-400">Editar</p>
                </div>
            </div>
        </div>
        
        <p class="text-lg font-bold mx-2 mt-7">Carteiras de Investimentos</p>
        <div class="grid grid-cols-3 gap-3">
            <div class="bg-white rounded-xl m-2 shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                <div class="p-6">
                    <div class="text-md mb-3 font-bold flex justify-start items-center gap-2">
                        <i class="fa-solid fa-chart-simple text-xl rounded-full flex justify-center items-center w-10 h-10 text-purple-500 bg-purple-100"></i>  
                        Banco Itaú
                    </div>
                    <ul class="space-y-2">
                        <li><p class="text-gray-500 text-sm">Conta Digital</p></li>
                        <li><p class="text-2xl font-bold">R$ 5.842,75</p></li>
                        <li><p class="text-gray-500 text-sm">Ag:1234 . CC:56789-0</p></li>
                    </ul>
                </div>

                <div class="px-6 py-2 rounded-b-xl bg-gray-50 flex justify-between text-sm font-bold">
                    <p class="text-purple-600">Detalhes</p>
                    <p class="text-gray-400">Editar</p>
                </div>
            </div>
            <div class="bg-white rounded-xl m-2 shadow-md transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg">
                <div class="p-6">
                    <div class="text-md mb-3 font-bold flex justify-start items-center gap-2">
                        <i class="fa-solid fa-chart-simple text-xl rounded-full flex justify-center items-center w-10 h-10 text-purple-500 bg-purple-100"></i>  
                        Banco Itaú
                    </div>
                    <ul class="space-y-2">
                        <li><p class="text-gray-500 text-sm">Conta Digital</p></li>
                        <li><p class="text-2xl font-bold">R$ 5.842,75</p></li>
                        <li><p class="text-gray-500 text-sm">Ag:1234 . CC:56789-0</p></li>
                    </ul>
                </div>

                <div class="px-6 py-2 rounded-b-xl bg-gray-50 flex justify-between text-sm font-bold">
                    <p class="text-purple-600">Detalhes</p>
                    <p class="text-gray-400">Editar</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
